@use 'base/variables' as v;
@use 'base/mixins' as m;
.contenido-principal {
    background-color: v.$blanco;
    padding: 5rem 2rem;
    
    @include m.tablet { 
        padding: 10rem;
        margin-top: -10rem;
        position: relative;
    } 
}

.iconos{
    margin-top: 5rem;
    .listado-iconos{
        @include m.tablet { 
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 5rem;
         } 
        li{
            img{
                margin: 0 auto;
                width: 12rem;
            }
            p{
                font-size: 3.2rem;
                font-family: v.$fuenteCursiva;
                color: v.$primario;
            }
        }
    }
}